<br />
<div id="delivery_time">
  <legend><%= t('.spree_delivery_time.title') %></legend>
  <div class="field">
    <%= form.label :start_delivery_time %><br />
    <%= form.time_select :start_delivery_time %>
  </div>
  <div class="field">
    <%= form.label :end_delivery_time %><br />
    <%= form.time_select :end_delivery_time %>
  </div>
</div>
